/*  #4C65F5 azul
    #DE3A9A rosa
    #3ADE89 verde
    #FAED00 amarelo*/

/* O "*" É UM SELETOR UNIVERSAL VAI ESTAR PEGANDO TODOS OS ELEMENTOS, PSEUDOELEMENTOS... (algumas exceçoes)*/
*{
    color: #ff69b4;
    margin: 0;
    padding:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 2px #00ffff;
}

body{
    background: linear-gradient(to top, cyan, #ff69b4 );
    width: 100%;
    margin:0;
}

header section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    border: 2px solid white;
    margin: 40px;
    padding: 10px;
}

header{
    width: 100%;
    height: 100px;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 32px;
    border: 2px solid white;
    box-shadow: 0 0 0 transparent;
    padding: 16px;
    cursor: pointer;
    transition: .5s
}

nav ul li:nth-child(2)
{
    margin-left:64px ;
    margin-right: 64px;
}

nav ul li:hover{
    border: 2px solid cyan;
    box-shadow: -4px 4px 0px hotpink , -8px 8px 4px rgba(0, 0, 0, 0.5)  ;
    letter-spacing: 4px;
    padding: 28px;
    transition: .5s;
}

header section div.redes img:nth-child(1){
    margin-right: 32px;
}

main{
    margin-top: 150px;
    width: 100%;
}

main div.contentSlide{
    width: 100%;
    display: flex; justify-content: center;
}

main div.contentSlide iframe{
    width: 850px;
    height: 502px;
}

main div.content{
    display: flex;
    flex-direction: row-reverse;    
    width: 80%;
    margin: 150px auto ;
    clear: both;
}

.main div.content div.sinopse{
    width: 60%;
}


main div.content div.sinopse p{
    font-size: 20px;
    letter-spacing: 2px;
}

main div.content div.sinopse h1{
    font-size: 64px;
    letter-spacing: 4px;
    width: 60%;
}
 
.moon{
    margin-top: 50px;
    width: 40%;
    margin-right: 100px;
}

.moon img{
    transition: .5s;
    opacity: .45;
    filter: hue-rotate(260deg);
}

.moon img:hover{
    opacity: 1;
    transition: .5s;

    filter: hue-rotate(0deg);
    animation-name: laugh; 
    
    animation-timing-function: cubic-bezier( .42, 0, 1, 0.76 );
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes laugh {
    0%{
        
        transform: rotateZ(5deg) scale(1.1) ;
    }
    50%{
        transform: rotateZ(-5deg) scale(1.1);
    }

    100%
    {
        transform: rotateZ(5deg)scale(1.1);
    }
}

.sinopse:hover ~ .moon img{
    opacity: 1;
    filter: hue-rotate(0deg);
}

footer{
    width: 100%;
    height: 100px;
}

footer section{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    border: 2px solid white;
    margin: 40px;
    padding: 10px;
}

footer section div{
    font-size: 32px;
}


