/*  #4C65F5 azul
    #DE3A9A rosa
    #3ADE89 verde
    #FAED00 amarelo*/

/* O "*" É UM SELETOR UNIVERSAL VAI ESTAR PEGANDO TODOS OS ELEMENTOS, PSEUDOELEMENTOS... (algumas exceçoes)*/
*{
    color: #ff69b4;
    margin: 0;
    padding:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 2px #00ffff;
}

body{
    background: linear-gradient(to top, cyan, #ff69b4 );
    width: 100%;
    margin:0;
}



header section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    border: 2px solid white;
    margin: 40px;
    padding: 10px;
}

header{
    width: 100%;
    height: 100px;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 32px;
    border: 2px solid white;
    box-shadow: 0 0 0 transparent;
    padding: 16px;
    cursor: pointer;
    transition: .5s
}

nav ul li:nth-child(2)
{
    margin-left:64px ;
    margin-right: 64px;
}

nav ul li:hover{
    border: 2px solid cyan;
    box-shadow: -4px 4px 0px hotpink , -8px 8px 4px rgba(0, 0, 0, 0.5)  ;
    letter-spacing: 4px;
    padding: 28px;
    transition: .5s;
}

header section div.redes img:nth-child(1){
    margin-right: 32px;
}

main{
    margin-top: 150px;
    display: flex; justify-content: center;
    width: 100%;
    height: auto;
}

div.slider{
    width: 800px;
    height: 452px;
    position: absolute;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 32px;
}

div.slides{
    display: flex;
    width: 300%;
}

div.slide{
    width: 33.33%;
    transition: .2s;
    border-radius: 32px;

}

div.slide img{
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

div.navigationBar{
    position: absolute;
    bottom: 30px;
    left:50%; transform: translateX(-50%);
    cursor: pointer;
}

input{
    display: none;
}

.fofinhoBtn{
    display:inline-block;
    width: 20px; height: 20px;
    border: 2px solid white;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.fofinhoBtn:not(:last-child) /*not é a negaçao, como um if else 
                  last-child trata-se do ultimo filho*/
{
    margin-right: 32px;
}

.fofinhoBtn:hover{
    background: linear-gradient(to top, cyan, hotpink);
    outline: 1px solid white; /*linha apos a borda*/
    outline-offset: 2px; /*distancia do outline do elemento*/
    transition: .2s;
}

.primeroSlide{
    

}

div.content{
    margin-top: 1000px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    clear: both;
}

.sinopse{
    position: relative;
    float: left;
    letter-spacing: 4px;
    width: 60%;
}
 
.moon{
    width: 40%;
}


#radio1:checked ~ .primeroSlide{
    margin-left:0;
}

#radio2:checked ~ .primeroSlide{
    margin-left: -33.33%;
}

#radio3:checked ~ .primeroSlide{
    margin-left: -66.66%;
}