*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: #ffc0cb;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

h1{
    background-color: #333;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 10px;
}

ul{
    list-style: none;
}

ul li{
    padding: 5px;
    background-color: #ff9faf ;
    margin: 5px 0px;
}

.container{
    margin : auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}

#my-form{
    padding: 2rem;
    background-color: #ff9faf;
}

#my-form label {
    display: inline-block;
    padding: 5px;
    background-color: #333;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #fff;border-bottom: 0px solid #fff;
    
}

#my-form input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
}

#my-form select{
    width: 20%;
    padding: 8px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background-color: #333;

    border-radius: 5px;
    margin: 5px 0;
}

.error{
    font-size: 0.8rem;
    background-color: #fff;
    color:red ;
    border-radius:1.2rem ;
}