.newslist-header{
    width: 77%; height: 20%;
    color: #ddd141;
    /* border: 1px solid #ddd141;border-left: none;border-right: none; */
    margin-top: 5rem;
    padding:  5rem 0rem 5rem 11rem ;
}

hr{
    margin-top: 1rem;
    border:1px solid #ddd141
}

.newslist{
    display: grid; grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 64px;
    margin: 0rem 0rem 20rem 0rem;
}

.news{
    width: 350px; height: 250px;
    background-color: #252525; 
    border-radius: 2px;
    transition: .2s;
}

.news .news-img:hover~.news-overview{
    transition:.2s;
}

.news:hover{
    transform: scale(1.05) translateZ(0);
    cursor: pointer;
}

.news:hover > .news-overview h2{
    color: transparent;
    transition: 200ms linear;
}



.news:hover > .news-overview p{
    color: #fff;
    transition: 200ms linear;
}

.newslist:hover > .news:not(:hover) .news-img{
    filter: brightness(0.5) saturate(0.3) contrast(1.2) blur(3px);
}

.news-img{
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;
    width:100% ;height: 100%;
    border-radius: 2px;
    filter: brightness(0.5) saturate(1.2) contrast(0.85);
    transition: 
    filter 200ms linear,
    transform 200ms linear;
}


.news-img img{
    width: 100%; height: 100%;
}


.news-overview{
box-sizing: border-box;
width:100%; height: 90%;
padding: 1rem;
position: relative;
top: -100%;
overflow-wrap: break-word;
transition: .2s;
}

.news-overview h2{
    transition: 200ms linear ;
}

.news-overview p{
    color: transparent;
    text-align: center;
}

.ver-mais{
    width: 100%; height: 10%;
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    transition: 200ms linear;
}

.ver-mais:hover{
    text-decoration: underline;
    
}

#zoom-canvas{
    background-color: rgba(0, 0, 0, .8);
    width:100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
    position: fixed;top: 0; left: 0;
    z-index :10;
}

.zoomed-news{
    width: 50%; height: 80%;
    background-color: #101010;
    overflow-wrap: break-word;
    transition: .2s;
    overflow-y: scroll;
}

.zoomed-news-img{
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;
    width:100% ;height: 60%;
}

.zoomed-news-img img{
    width: 100%; height: 100%;
}


    

.zoomed-news-overview h2{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-indent: 32px;;
}

.zoomed-news-overview p {
    padding: 2rem;
    line-height: 28px;
}
.close-btn{
    position: fixed; top: 5.5rem; right: 25rem;
    width: 20px; height: 20px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #101010
}

#full-overview{
    display: none;
}

.vase-garnish{
    height: 80%; width: auto;
}

.reverse{
    transform: scaleX(-1);
}
