html{
    scroll-snap-type: y proximity;
}
 #snapBoxOne{
    margin-top: 2rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#snapBoxTwo{
   /*  margin-top: 15rem;
    padding-top: 6rem;
    padding-bottom: 6rem; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#snapBoxThree{
    margin-top: 2rem;
    padding-top: 12rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
} 


#snapBoxFour{
    margin-top: 6.2rem;
    padding-top: 10rem; 
    scroll-snap-align: start;
    scroll-snap-stop: always;
} 
