@font-face {
    font-family: "raleway";
    src: url(/fonts/raleway.ttf);
}

::-webkit-scrollbar{
    width: 5px;
    border: 1px solid rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
}

*{
    font-family: 'raleway';
    margin: 0;
    padding: 0;
}

body{
    /* font-weight: 900; */
    background-color: #000;
    background-image: url(/imgs/bg/bg-vaso-dourado.png);
    color: #fff;
    text-transform: uppercase;
    overflow-x: hidden;
}

header{
    box-sizing: border-box;
    width: 100%; height: 5rem;
    display: flex; align-items: center;
    background-color: #000;
    border: 20px solid transparent;
    border-image: url(/imgs/decoraçoes/borda-dourada.png) 20% round;
    border-left: none; border-right: none; border-top: none;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 16px rgba(83, 83, 83, 0.5);
}

.logo{
    width: 60%; height: 80%;
}

nav{    
    width: 40%; height: 80%;
    box-sizing: border-box;
    padding-top: 8px;
    color: rgb(221, 209, 65, 0.5);
    display: flex; align-items: center;
}

ul{
    list-style: none;
}

li{
    display: inline;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0px 4px 0px transparent, 0px 8px 0px transparent, 0px 12px 0px transparent;
    transition: .2s;
}

li:not(:last-child){
    margin-right: 64px;
}

li:hover{
    cursor: pointer;
    transition: .2s;
    padding-bottom: 14px;
    color: #ddd141;
}

a{
    color: inherit;
    text-decoration: none ;
}

.logo{
    padding-left: 32px;
}

.logo img{
    width: auto;height: 100%;
    margin-right: 12px;
}

main{
    width: 100%; height: auto;
    margin-top: 75px;
}

#carousel{
    border: 20px solid transparent;
    border-image: url(/imgs/decoraçoes/borda-dourada.png) 20% round;
    border-left: none; border-right: none; border-top: none;
}

.history-container{
    background-color: #000;color: rgb(255, 255, 255);
    text-justify:initial;
    width: 100% ; height: auto; box-sizing: border-box; display: flex;  flex-wrap: wrap ;
    overflow: hidden;
    padding: 10rem 5rem;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 20px solid transparent;
    border-image: url(/imgs/decoraçoes/borda-dourada.png) 20% round;
    border-left: none; border-right: none; border-top: none;
   /*  border: 2px solid #333, 2px solid; border-left: none; border-right: none; */
    box-shadow: 0px -33px 16px rgba(100, 100, 100, 0.1) , 0px 33px 16px rgba(100, 100, 100, .1); /*bottom*/
    text-indent: 32px;
}

.history{
    width: 40%;
}

#history-continuation{
    margin-left: 50%;
    margin-top: 15rem ;
}
span{
    color: #ddd141;
    font-size: 20px;
}

aside{
    width: 60%;
    
}
/* A Imagem com o titulo da manchete*/ 
#historia-title-img{
    width: 100%; height: 200px;
    display: flex;
    align-items: center; justify-content: center;
    margin-bottom: 48px;
}

#historia-title-img img{
    width :40rem ;height: 40rem;
    margin-left: 64px;
}

/*Imagaem antiga do cinema, está no aside*/
#cinema-history-img{
    width: 100%; height:100%;
    display: flex;
    align-items: center; justify-content: center;
}

#cinema-history-img img{
    width: 32rem;
    box-shadow: -4px 8px 2px rgba(255, 253, 253, 0.3);
    z-index: 2;
    animation-name: boxShadowBlink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

/*Imagem com o jornal, posicionada globalmente*/
#newspaper-history-img{
    width: 100%; height: 100%;
    position: absolute;
    display: flex; align-items: center; justify-content: center;
    top: 58rem; right: -25rem;
    z-index: 3;
}

#newspaper-history-img img{
    width: 28rem;
    box-shadow:-4px 8px 2px rgba(255, 253, 253, 0.3);
    animation-name: boxShadowBlink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

#maquina{
    position: absolute;
    left: 38rem; top: 105rem;
    width: 100%;height: 100%;
    z-index: 2;
}

svg{
    transform: scale(4.5)
}

#luz{
    width: 300px; height: 700px;
    background-color: rgba(255, 253, 253, 0.3);
    transform: rotateZ(-110deg);
    position:absolute; top: 71rem; left: 39rem;
    -webkit-clip-path: polygon(49% 0, 30% 100%, 90% 100%);
    clip-path: polygon(49% 0, 30% 100%, 90% 100%);
    z-index: 1;
    animation-name: luzPiscando;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes boxShadowBlink {

    0%{
        box-shadow:-4px 8px 2px rgba(255, 253, 253, 0.3);
    }

    20%{
        box-shadow:-4px 8px 2px rgba(255, 253, 253, 0.4);
    }

    40%{
        box-shadow:-4px 8px 2px rgba(255, 253, 253, 0.3);
    }
    
    60%{
        box-shadow:-4px 8px 2px rgba(255, 253, 253, 0.2)
    }

    80%{
        box-shadow:-4px 8px 2px rgba(255, 253, 253, 0.3)
    }

    100%{
        box-shadow:-4px 8px 2px rgba(255, 253, 253, 0.5)
    }
}

@keyframes luzPiscando {
    0%{
        background-color: rgba(255, 253, 253, 0.3);
    }

    20%{
        background-color: rgba(255, 253, 253, 0.4);
    }

    40%{
        background-color: rgba(255, 253, 253, 0.3);
    }
    
    60%{
        background-color: rgba(255, 253, 253, 0.2)
    }

    80%{
        background-color: rgba(255, 253, 253, 0.3)
    }

    100%{
        background-color: rgba(255, 253, 253, 0.5)
    }
}
.slide-container{
    width: 100%; height: 100vh;  box-sizing: border-box;
    position: relative;
    margin: -67px auto 64px auto;
    display: flex; align-items: center;
    overflow: hidden;
    border: 20px solid transparent;
    border-image: url(/imgs/decoraçoes/borda-dourada.png) 20% round;
    border-left: none; border-right: none; border-top: none;
}

.slide{
    width: 100%; height: 100%;
    opacity: 0;
    transition: 200ms linear;
}   

.slide img {
    position: absolute;
    top:0%; left: 0%;
    width: 100%; height: 100vh;   
    transition: 200ms linear;
}
.show-slide{
    opacity: 1;
}

.slide-text{
    opacity: 1;
    width: 100%; height: 40%;
    position: absolute; bottom: 0; left: 0; z-index: 3;  padding-left: 2rem;
    background: linear-gradient(to top , black, 75%, transparent);
    display: flex; align-items: center;
    font-size: 25pt;
  
}

.mostra-container-header{
    width: 88%;
    padding:  5rem 0rem 0rem 11rem ;
    
}

.mostra-container-header h2{
    width: 77%; height: 20%;
    color: #ddd141;
    /* border: 1px solid #ddd141;border-left: none;border-right: none; */
    margin-top: 5rem;
}

hr{
    margin-top: 1rem;
    border:1px solid #ddd141
}

.mostra h2{
    padding:  3rem 0rem 0rem 11rem ;
    margin-bottom: -3rem;
    font-size: 20px;
}



