*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}


body{
    background-color: #fbfcfa;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header{
    background-color: #fbfcfa;
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height:25%;
}

header section.logo{
    width: 45%; height: 100%;
}

header section.logo img{
    width:35%; height: auto; 
    margin: 10px 0px 0px 48px;
}

header section.navBar{
  margin-right: 48px;
}

header section.navBar ul{
    list-style: none;
}

header section.navBar ul li{
    display: inline-block;
    width: 94px;
    text-align: center;
    font-size: 24px;
    padding: 16px;
    border-bottom:2px solid  red;
    box-shadow: 0px 4px 0px transparent, 0px 8px 0px transparent, 0px 12px 0px transparent;
    transition: .2s;
}

header section.navBar li:not(:last-child)
{
    margin-right: 32px;
}

header section.navBar li:hover{
    cursor: pointer;
    transition: .2s;
    letter-spacing: 2px;
    box-shadow: 0px 4px 0px rgba(255, 0, 0, 0.3), 0px 8px 0px rgba(255, 0, 0, 0.2), 0px 12px 0px rgba(255, 0, 0, 0.1);
}

main{
    border-top: 2px solid red;
    box-shadow: inset  0px 4px 0px rgba(255, 0, 0, 0.3),  inset 0px 8px 0px rgba(255, 0, 0, 0.2), inset 0px 12px 0px rgba(255, 0, 0, 0.1);

    width: 100%; height: 55%;
    display: flex;
}

main p{
    font-size: 16px;
}
span{
    font-size: 32px;
    color: #ff0000;
}

main div.presentation{
width:50%; height: 100%;
padding: 32px 0px 0px 64px;
}

main div.bike{
width:50%; height: 100%;
}

main div.bike img{
    margin-left: 500px;
    transform: rotateZ(-10deg) scale(.9);
    transition: 2s
}

main div.bike img:hover
{
    
    margin-left: 0px;
    transform: rotateZ(-10deg) scale(.9);
    transition: 2s;
}

footer{
    width: 100%; height: 20%;
   
}

footer section.socialMedia{
    width: 100%; height: 100%;
}

footer section{
    width:33%; height: 100%;
    padding-top: 100px;
    padding-left: 50px;

}

footer img{
    display: inline;
    width: auto; height: 35%;
    margin:16px;
    border-radius: 25px;
    opacity: 0.5;
    cursor: pointer;
}

footer img:hover{
    opacity: 1;
    transition: .2s;
    scale: 1.4;
    /*cima e baixo*/
    box-shadow:0px 4px 0px rgba(255, 0, 0, 0.3), 0px 8px 0px rgba(255, 0, 0, 0.2), 0px 12px 0px rgba(255, 0, 0, 0.1),
    0px -4px 0px rgba(255, 0, 0, 0.3), 0px -8px 0px rgba(255, 0, 0, 0.2), 0px -12px 0px rgba(255, 0, 0, 0.1),
    /*esquerda e direita*/
    4px 0px 0px rgba(255, 0, 0, 0.3), 8px 0px 0px rgba(255, 0, 0, 0.2), 12px 0px 0px rgba(255, 0, 0, 0.1),
    -4px 0px 0px rgba(255, 0, 0, 0.3), -8px 0px 0px rgba(255, 0, 0, 0.2), -12px 0px 0px rgba(255, 0, 0, 0.1);
}

.circle{
    background-color: gray; opacity: .3;
    width: 500px; height: 500px;
    border-radius: 50%;
    position:absolute; z-index: -1;
    top:80%;
    left: -6%;
    box-shadow: 1000px -500px 0px grey;
}




